//tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$green: #94d7a2;
$pink: #f8bcbc;
$blue: #4d5b9e;
$dark-blue: #293264;
$dark-white: #f5f7fb;
$light-blue: #d6dbf5;
$lighter-blue: #dbdef0;
$light-yellow: #fffad1;
$grey: #888;
$purple: rgb(147 30 140);
$cyan: #00ffb8;

h1 {
  background: -webkit-linear-gradient(left, $purple, $cyan);
  background: -o-linear-gradient(right, $purple, $cyan);
  background: -moz-linear-gradient(right, $purple, $cyan);
  background: linear-gradient(to right, $purple, $cyan);
  -webkit-background-clip: text;
  font-size: 4em;
  margin-top: 0;
  -webkit-text-fill-color: transparent;
}

//loading animation
$animation-speed: 2s;
/*    Spinner Variables */
$spinner-size: 10;
$line-color: $blue;
$line-alpha: 0.73;
$ring-color: $green;
$ring-alpha: 0.2;
$ring-size: 4;

.spinner {
  border-radius: 50%;
  height: 50px;
  width: 50px;

  .line {
    animation: 2156ms spinner-arc ease-in-out infinite,
      1829ms spinner-rotate linear infinite;
    fill: none;
    opacity: $line-alpha;
    stroke: $line-color;
    stroke-linecap: round;
    stroke-width: $ring-size;
    transform: rotate3d(0, 0, 1, 0deg);
    transform-origin: 50% 50%;
  }
  .ring {
    fill: none;
    opacity: $ring-alpha;
    stroke: $ring-color;
    stroke-width: $ring-size;
  }
}
@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}
button {
  &::before {
    background: $green;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    transition: 300ms ease-out;
    width: 0%;
  }
}
.clicked {
  &::before {
    width: 100%;
  }
}
