//tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$green: #94d7a2;
$pink: #f8bcbc;
$blue: #4d5b9e;
$dark-blue: #293264;
$dark-white: #f5f7fb;
$light-blue: #d6dbf5;
$lighter-blue: #dbdef0;
$light-yellow: #fffad1;
$grey: #888;
$purple: rgb(147 30 140);
$cyan: #00ffb8;

h1 {
  background: -webkit-linear-gradient(left, $purple, $cyan);
  background: -o-linear-gradient(right, $purple, $cyan);
  background: -moz-linear-gradient(right, $purple, $cyan);
  background: linear-gradient(to right, $purple, $cyan);
  -webkit-background-clip: text;
  font-size: 4em;
  margin-top: 0;
  -webkit-text-fill-color: transparent;
}
